{% extends 'base.html.twig' %}

{% block title %}Hello RealisateurController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/cours4/td_backend/src/Controller/RealisateurController.php</code></li>
        <li>Your template at <code>C:/cours4/td_backend/templates/realisateur/index.html.twig</code></li>
        {% for realisateur in realisateurs %}
            <li>
                <strong>{{ realisateur.prenom }} {{ realisateur.nom }}</strong>
                <ul>
                    {% for film in realisateur.films %}
                        <li>{{ film.titre }} ({{ film.duree }})</li>
                    {% else %}
                        <li>Aucun film pour ce réalisateur.</li>
                    {% endfor %}
                </ul>
            </li>
            <hr>
        {% else %}
            <li>Aucun réalisateur trouvé en base de données.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
